.topbar{
    color: var(--dark1);
    padding: 30px 40px;
    display: flex;
    align-items: center;
}

.topbar > .logo{
    height: 30px;
    width: 60px;
    background-color: teal;
    margin-right: 10px;

    border-radius: 5px;
}

.topbar > h3{
    color: var(--dark2);
}

.topbarMenu{
    display: flex;
    margin-left: auto;

    gap: 70px;
}

.topbarMenuButton{
    font-weight: 600;
    cursor: pointer;

    transition-duration: 100ms;
}

.topbarMenuButton:hover{
    color: var(--dark2);
}