.main{
    display: flex;
    min-height: 100vh;

    transition-duration: 200ms;
}

.mainContent{
    flex-grow: 1;
    background-color: var(--sec2);
    display: flex;
    flex-direction: column;
}

.content{
    padding: 0px 40px;
    padding-bottom: 40px;
}