.pendingDuesFriends{
    background-color: var(--sec1);
    border-radius: 20px;
    padding: 20px;
    padding-right: 100px;
    border: 1px solid hsl(0, 0%, 85%);

    min-width: 260px;
}


.pendingDuesFriends > .friends {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.friend{
    display: flex;
    align-items: center;
}

.friend > .friendimg{
    height: 35px;
    aspect-ratio: 1;
    background-color: teal;
    border-radius: 100px;
    margin-right: 10px;

    border: 2px solid rgb(0, 255, 136);
}

.friend > div > p{
    color: var(--dark1);
    font-size: 0.9em;
}